<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Medicare</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--
  <servlet>
    <servlet-name>PatientCreate</servlet-name>
    <servlet-class>Medicare.servlet.PatientCreate</servlet-class>
  </servlet>
	  <servlet-mapping>
	    <servlet-name>PatientCreate</servlet-name>
	    <url-pattern>/patientcreate</url-pattern>
	  </servlet-mapping>
  <servlet>
    <servlet-name>FindDoctor</servlet-name>
    <servlet-class>Medicare.servlet.FindDoctor</servlet-class>
  </servlet>
	  <servlet-mapping>
	    <servlet-name>FindDoctor</servlet-name>
	    <url-pattern>/finddoctor</url-pattern>
	  </servlet-mapping>
  <servlet>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>Medicare.servlet.BookAppointment</servlet-class>
  </servlet>
	  <servlet-mapping>
	    <servlet-name>BookAppointment</servlet-name>
	    <url-pattern>/bookappointment</url-pattern>
	  </servlet-mapping>
   <servlet>
    <servlet-name>CreateDoctor</servlet-name>
    <servlet-class>Medicare.servlet.CreateDoctor</servlet-class>
  </servlet>
	  <servlet-mapping>
	    <servlet-name>CreateDoctor</servlet-name>
	    <url-pattern>/createDoctor</url-pattern>
	  </servlet-mapping>
   <servlet>
    <servlet-name>FindAppointmentforPatient</servlet-name>
    <servlet-class>Medicare.servlet.FindAppointmentforPatient</servlet-class>
  </servlet>
	  <servlet-mapping>
	    <servlet-name>FindAppointmentforPatient</servlet-name>
	    <url-pattern>/appointmentPatient</url-pattern>
	  </servlet-mapping>
  -->
</web-app>